#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #000000;
}
.p {
  color: white;
}

.start-game {
  background-color: antiquewhite;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
}

.card-container {
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: row;
  width: 80%;
  margin: 1rem;
  border: 3px black solid;
  border-radius: 8%;
}

.card-container img {
  width: 100%;
  height: 100%;
  border-radius: 8%;
}

/* For flipping */
.card-container .frontCard {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .frontCard {
  transform: rotateY(0deg);
}

/* For flipping */
.card-container .backCard {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .backCard {
  transform: rotateY(90deg);
  transition-delay: 0;
}
